
table.commandLine1 {
  background-color: #ff0000;

/*  text-align: center;*/
  margin: 0 auto;

}


td.commandline1 {

  background-color: red;

  
}

table.commandLine2 {
  background-color: #ff00ff;

}


