table.drinks, tr , td {

  margin: 0 auto;
/*
  margin: 0 auto;
  border: 5px solid #1C6EA4;*/
  /*background-color: #EEEEEE;*/
  background-color: orange;
/*
  width: 90%;
  text-align: center;
*/
  /*border-collapse: collapse;*/

}
/*
table.drinks,tr.drinks:nth-child(even) {
  background: #ffff00;
}
table.drinks,tr.drinks:nth-child(odd) {
#  background: #bbf4F5;
  background: #00ffff;
}
*/
